@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.green__glow{
    filter: drop-shadow(0 5px 10px rgba(74,222,128, 0.8));
}

.yellow__glow{
    filter: drop-shadow(0 5px 10px rgba(242,163,25,0.8));
}

.red__glow{
    filter: drop-shadow(0 5px 10px rgba(239,71,66, 0.6));
}

circle{
    fill: none;
    stroke-width: 20px;
    stroke-dasharray: 472;
    stroke-dashoffset: 472;
    animation: correct 1s ease-in-out forwards;
}
@keyframes correct {
    100%{
        stroke-dashoffset: 100;
    }
}

svg{
    position: absolute;
    top: 0;
    left: 0;
}

.circular-progress-correct{
    background: conic-gradient(#4ade80, 3.6deg, #ededed 0deg);
}

@layer components{
    input{
        @apply block px-4 py-2 outline-none bg-transparent border-b-[1px] border-b-[#1f1f1f] focus:bg-white focus:border-b-cyan-500 focus:border-b-2 focus:rounded-xl focus:placeholder-cyan-500;
    }

    .blue__gradient{
        @apply bg-gradient-to-br from-[#34BDDF] to-[#00A4CD];
    }

    .sidebar-list-item{
        @apply w-full flex items-center justify-start gap-2 my-1 px-3 py-1 cursor-pointer rounded-lg;
    }
    .sidebar-list-item.active{
        @apply bg-gradient-to-br from-[#34BDDF] to-[#00A4CD] shadow-lg shadow-[#34BDDFCC] text-white;
    }

    .question-option-li{
        @apply cursor-pointer inline-flex items-center justify-center w-full my-2 py-3 capitalize text-gray-700 bg-white rounded-md transition-all duration-150 hover:text-gray-800 hover:shadow-lg peer-checked:text-white peer-checked:bg-gradient-to-br peer-checked:from-blue-400 peer-checked:to-blue-500 peer-checked:shadow-lg;
    }

    .question-side-li{
        @apply flex flex-row gap-2;
    }

    .pagination-button{
        @apply w-8 h-8 bg-white flex justify-center items-center rounded-full text-[#1f1f1f] hover:bg-gradient-to-br from-[#34BDDF] to-[#00A4CD] hover:text-white hover:shadow-xl;
    }

    .pagination-button-active{
        @apply bg-gradient-to-br from-[#34BDDF] to-[#00A4CD] text-white;
    }

    .flex-center{
        @apply flex justify-center items-center;
    }

    .transition-150{
        @apply transition-all duration-150 ease-in-out;
    }
}